[submodule "themes/hugo-theme-stack"]
	path = themes/hugo-theme-stack
	url = https://github.com/CaiJimmy/hugo-theme-stack/
[submodule "themes/arberia"]
	path = themes/arberia
	url = https://github.com/antedoro/arberia.git
[submodule "themes/hugo-theme-next"]
	path = themes/hugo-theme-next
	url = https://github.com/hugo-next/hugo-theme-next.git
